@use '@/app/styles/mixins' as mixins;

footer.footer {
  @include mixins.flexbox(column, center, center);
  padding: var(--space-4x) var(--space-2x) var(--space-4x) var(--space-2x);
  border-top: 1px solid var(--border);
  width: 100%;
  height: fit-content;
  background-color: rgba(var(--background-rgb), 0.75);

  &.removePaddingRL {
    padding: var(--space-4x) 0 0 0;
  }

  > .footerContainer {
    width: 100%;
    max-width: 720px;

    > .footerContent {
      > .header {
        @include mixins.flexbox(row, space-between, center);
        gap: var(--space);

        @include mixins.respond-to('phone') {
          @include mixins.flexbox(column, center, start);
        }

        > .headerLeft {
          @include mixins.flexbox(row, center, center);
          gap: var(--space);

          > img {
            margin-left: -6px;
            width: clamp(42px, 6vw, 60px);
            height: clamp(42px, 6vw, 60px);
          }

          > h1 {
            margin: 0;
            font-size: clamp(1.5rem, 3.25vw, 2rem);
            font-weight: bold;
            letter-spacing: 0.05rem;
            background: linear-gradient(
              170deg,
              var(--purple-400),
              var(--purple-600)
            );
            background-size: 100% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        > .headerRight {
          @include mixins.flexbox(row, center, center);
          height: 100%;
          gap: var(--space);

          > .social {
            @include mixins.flexbox(column, center, start);
            width: 100%;
            height: 100%;
            gap: var(--space-0-5x);

            > .socialItems {
              @include mixins.flexbox(row, center, center);
              gap: var(--space);
              height: 100%;

              > .socialItem {
                @include mixins.flexbox(row, center, center);
                gap: var(--space);
                font-size: 1.75rem;
                color: var(--foreground-900);
                @include mixins.transition(var(--transition-default));

                &:hover {
                  @include mixins.transform-container(scale(1.1));
                  &.instagram {
                    color: var(--purple-300);
                  }
                  &.threads {
                    color: var(--foreground-100);
                  }
                  &.twitter {
                    color: var(--blue-300);
                  }
                  &.github {
                    color: var(--foreground-100);
                  }
                  &.discord {
                    color: #707af8;
                  }
                }
              }
            }
          }
        }
      }
    }

    // 區塊標題
    h2.blockTitle {
      margin-top: var(--space-2x);
      margin-bottom: var(--space-0-5x);
    }
    p.labelTitle {
      font-size: 0.8rem;
      color: var(--foreground-tertiary);
    }

    > .copyright {
      @include mixins.flexbox(column, center, center);
      margin-top: var(--space-2x);
      padding-top: var(--space);

      > p {
        font-size: 0.8rem;
        color: var(--foreground-tertiary);
      }
    }
    > .links {
      @include mixins.flexbox(row, center, center);
      gap: var(--space-0-5x);

      > a {
        font-size: 0.8rem;
      }
    }
    > .version {
      @include mixins.flexbox(row, center, center);
      margin-top: var(--space);

      > p {
        font-size: 0.8rem;
        color: var(--foreground-tertiary);
      }
    }
  }
}
